<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<style>
    body{
        padding: 0;
        margin: 0;
    }
    .mainButton{
        cursor: pointer;
        color: white;
        font-size: 18px;
        font-family: "Arial Black";
        border-radius: 20px;
        width: 90px;
        height: 35px;
        border: none;
    }
    .stutdy{
        font-size: 23px;
        font-family: "Arial Black";
        border-radius: 30px;
        width: 120px;
        height: 50px;
        background-color: tomato;
    }
    .group{
        background-color: plum;
    }
    .community{
        background-color: gold;
    }
    .login{
        background-color: white;
        color:#5853EB;
        font-family: "Arial Black";
        font-size: 20px;
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 10px;
    }
</style>

</head>
<body>

    <div style="width:100%; height:280px; background-color: #5853EB;">
        <div style="height: 8px"></div>
        <div style="height: 50px;" align="right">
            <button class="login">Log in</button> &nbsp;
        </div>
        <div align="center">
            <span style="font-size:100px; font-family: 'Arial Black'; color:white">Together</span>
        </div>
        <div style="height:10px"></div>
        <div align="center">
    <span>
        <button class="mainButton stutdy">스터디</button>
    </span> &ensp;&ensp;&ensp;&ensp;&ensp;
            <span>
        <button class="mainButton group">소모임</button>
    </span> &ensp;&ensp;&ensp;&ensp;&ensp;
            <span>
        <button class="mainButton community">커뮤니티</button>
    </span>
        </div>
    </div>

    <div style="width:70%;height:1200px" align="center"></div>
    <div align="center">
        <input type="text" placeholder="검색어" width="400px" height="40px">
        <button style="width:100px; height:40px;">검색</button>
    </div>


<div width="80%">
        <div class="row" align="center" width="80%">
            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; height: 30rem">
                    <div class="card-body">
                        <div style="height:40px;">
                            <h7 class="card-title">옷 이름</h7>
                        </div>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <input type="button"  style="width:120px;border: none;
            padding: 10px 20px;
            border-radius: 10px; /* 모서리를 둥글게 하는 부분 */
            background-color: #6F4E37; /* 바탕색을 분홍색으로 설정 */
            color: white;" value="Detail">
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <span style="cursor:pointer" >&#x2665;</span>
                    </div>
                </div>
            </div>
        </div>
</div>


    <div style="display: flex; width:80%; height:1000px">
        <div style=" width:25%; height:200px">.g-col-6</div>
        <div style=" width:25%; height:200px">.g-col-6</div>
        <div style=" width:25%; height:200px">.g-col-6</div>
        <div style="width:25%; height:200px">.g-col-6</div>
        <div style="width:25%; height:200px">.g-col-6</div>
        <div style=" width:25%; height:200px">.g-col-6</div>
        <div style="width:25%; height:200px">.g-col-6</div>
        <div style="width:25%; height:200px">.g-col-6</div>
        <div style=" width:25%; height:200px">.g-col-6</div>
    </div>


<table>


</table>




</body>
</html>